{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrder": [
    "^@assets/(.*)$",
    "^@components(.*)$",
    "^@config/(.*)$",
    "^@contexts(.*)$",
    "^@hooks(.*)$",
    "^@screens(.*)$",
    "^@utils(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
